<%layout('../layout')%>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="admincount">0</div>
                            <div>STAFF</div>
                        </div>
                    </div>
                </div>
                <a href="/admin">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-history fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="historycount">0</div>
                            <div>STAFF Logins</div>
                        </div>
                    </div>
                </div>
                <a href="/staff/logins">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="feusercount">0</div>
                            <div>Users</div>
                        </div>
                    </div>
                </div>
                <a href="/frontend/users">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="transportationcount">0</div>
                            <div>Transportations</div>
                        </div>
                    </div>
                </div>
                <a href="/frontend/transportation">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="spokenlanguagecount">0</div>
                            <div>Spoken Languages</div>
                        </div>
                    </div>
                </div>
                <a href="/frontend/spokenlanguage">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="servicescount">13</div>
                            <div>Services</div>
                        </div>
                    </div>
                </div>
                <a href="/frontend/service">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- /#page-wrapper -->
<script>
    $(document).ready(function() {
        getAdminUserCount();
        getLoginHistoryCount();
        getFEUserCount();
        getTransCount();
        getLangCount();
        getServicesCount();
    });
    function getAdminUserCount(){
        $.get("/user/list/count"
          ,{}
          ,function(result){
            $('#admincount').html(result.count);
          })
    }
    function getLoginHistoryCount() {
        $.get("/stafflogin/list/count"
          ,{}
          ,function(result){
            $('#historycount').html(result.count);
          })
    }
    function getFEUserCount() {
        $.get("/feuser/list/count"
          ,{}
          ,function(result){
            $('#feusercount').html(result.count);
          })
    }
    function getTransCount() {
      $.get("/trans/list/count"
        ,{}
        ,function(result){
          $('#transportationcount').html(result.count);
        })
    }
    function getLangCount() {
      $.get("/langs/list/count"
        ,{}
        ,function(result){
          $('#spokenlanguagecount').html(result.count);
        })
    }
    function getServicesCount() {
      $.get("/services/list/count"
        ,{}
        ,function(result){
          $('#servicescount').html(result.count);
        })
    }

</script>